<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head0001.tiff</key>
            <key>head0002.tiff</key>
            <key>head0003.tiff</key>
            <key>head0004.tiff</key>
            <key>head0005.tiff</key>
            <key>head0006.tiff</key>
            <key>head0007.tiff</key>
            <key>head0008.tiff</key>
            <key>head0009.tiff</key>
            <key>head0010.tiff</key>
            <key>head0011.tiff</key>
            <key>head0012.tiff</key>
            <key>head0013.tiff</key>
            <key>head0014.tiff</key>
            <key>head0015.tiff</key>
            <key>head0016.tiff</key>
            <key>head0017.tiff</key>
            <key>head0018.tiff</key>
            <key>head0019.tiff</key>
        </dict>
        <key>metadata</key>
        
    </dict>
</plist>
